.comments__container-outer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: clamp(22rem, 90vw, 60rem);
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: #222831;
  padding: 0.5rem;
  background-color: #eeeeee6c;
  border-radius: 5px;
  border-width: 1px;
  border-color: #393E46;
  border-style: solid;
}

.comments__container-inner {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: clamp(21.3rem, 85vw, 55rem);
  color: #222831;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 5px;
  border-width: 1px;
  border-color: #393E46;
  border-style: solid;
}

.comments__container-header {
  text-align: center;
  margin-bottom: 0.4rem;
  font-size: 1rem;
}

.comments__container-list-item {
  list-style: none;
}